# method: method for generating the password. should be everything that
#   hashlib can do (':' indicates piping)
# length: length of the password
# pauth: authorized characters in the password
#   - alnum (a-zA-Z0-9)
#   - alpha (a-zA-Z)
#   - lower (a-z)
#   - upper (A-Z)
#   - digit (0-9)
#   - punct (/+)
# preq: list of required characters in the password
#   can specify the number of characters of a certain class
#   can also specify what should be the position in the password
#   [lower|upper|digit|punct]:number[:position1:position2:...], ...
# iden: identifier for that service
# parent: indicates another section from which the current section
#   inherits (all sections inherit from DEFAULT first)
# extra: extra token to add to the section name to generate the
#   passphrase
# comment: optional user string

[DEFAULT]
    method = sha256:base64
    length = 8
    pauth = alnum

[google.com]
    iden = yourname
    extra = 1211

[startssl]
    extra = 0114
    length = 10
    comment = my ssl free certificate

[mybank.com]
    extra = 0414
    length = 6
    pauth = digit

[common1]
    extra = 1211

[amazon.com]
    parent = common1
    iden = myemail

[shittywebsite.com]
    parent = common1
    iden = myemail
    length = 9
    preq = lower:1, upper:1, digit:1, punct:1:8
